.notes__list-item {
    font-size: 1.5rem;
    cursor: pointer;
    will-change: text-decoration;
    transition: text-decoration 0.3s ease-out;
}

.notes__list-item:hover,
.notes__list-item:focus {
    text-decoration: underline;
}

.notes__list-item:not(:last-of-type) {
    margin-bottom: 1rem;
}

.notes__list-item__delete {
    margin-left: 1rem;
    font-size: 1.2rem;
    border: none;
    outline: none;
    background: transparent;
    cursor: pointer;
}